{% extends 'inventory/base.html' %}
{% load random_hex %}

{% block content %}
<div class="features">
  <a class="btn btn-primary" href="{% url 'add-item' %}">Add Item</a>
</div>

<div class="items d-flex justify-content-center flex-wrap">
  {% for item in items %}
  <div class="card m-3 shadow bg-red rounded" style="width: 18rem;">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ item.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {% if item.item_type %}
        {{ item.item_type}}
        {% endif %}
      </h6>
      <p class="card-text">{{ item.description}}
      </p>
      <div class="links mt-auto">
        <a href="{% url 'item' item.id %}" class="card-link">View Item</a>
        <a href="{% url 'delete-item' item.id %}" class="card-link">Delete Item</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}